@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.svg-image {
  width: 24px;
  height: 24px;
}

.svg-green {
  filter: brightness(0) saturate(100%) invert(60%) sepia(9%) saturate(2245%) hue-rotate(76deg) brightness(97%) contrast(87%);
}
