@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(243, 244, 246);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.svg-image {
  width: 24px !important;
  height: 24px !important;
}

.svg-green {
  filter: brightness(0) saturate(100%) invert(60%) sepia(9%) saturate(2245%) hue-rotate(76deg) brightness(97%) contrast(87%);
}

.svg-red {
  filter: brightness(0) saturate(100%) invert(19%) sepia(100%) saturate(6260%) hue-rotate(355deg) brightness(114%) contrast(118%);
}

.svg-gray {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6025%) hue-rotate(43deg) brightness(107%) contrast(62%);
}